
.bodyy{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73e3eba9;
    color: #000000;
    font-size: 24px;
}

/* Estilos del header */
.header {
    background-color: #3FA2F6;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header img {
    height: 50px;
}

/* Estilos del main */
.main-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
}


.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.img-container{
    align-items: center;
    justify-content: center;
    border: #a70707;
    border-style: solid;

}

.img-container img {
    padding: 10px;
    width: 250px;
    height: 200px;
}

.info-container {
    padding-bottom: 10px;
    background-color: rgba(243, 250, 153, 0.726);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(238, 15, 15, 0.1);
    border-top: #a70707;
    border-style: solid;
    height: 80px;
}


.value-container {
    display: flex;
    justify-content: space-between;
}

.lapto{
    margin: 0;
}

.value-container p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 20px;
    color: #27ae60;
}

.delete-button {
    cursor: pointer;
}

.delete-button img {
    width: 40px;
    height: 40px;
}


/* Estilos del formulario */
.section2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario {
    background-color: #2c3e509a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
}

.formulario-laptop {
    margin-bottom: 20px;
}

.input-modelo,
.input-precio,
.input-imagen {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #4f8fee;
    border-radius: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

/* Estilos del footer */
.footer{

    display: flex;
    flex-direction: column;
    background-color: #3FA2F6;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    gap: 0px;
}

.container-footer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.footer h4,
.footer h3,
.footer h2 {
    font-size: 20px;
}

.footer img {
    height: 40px;
    margin: 10px 0;
}

.enlaces_redes img {
    height: 30px;
    margin: 0 10px;
}


